<header class="headeruserUser">
    <div class="colorBlack">
        <a href="https://discord.gg/xCZjaKjSZt" target="_blank">
            <img src="{{ asset ('img/discord.png') }}" alt="photo discord">
        </a>
        <a href="{{ path('app_login') }}" ><i class="bi bi-person-circle"></i>Connexion</a>
    </div>
</header>