* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}
/* pour que les photos soient a la dimension de la boite */
.resp{
    width: 100%;
    height: auto;
}

.taillePhoto{
    width: 50%
}

.imageCarroussel{
    width: 30%!important;
}
/* pour faire disparaitre les photos qui encadre chaque titre en html en version dekstop */
.phone{
    display: none;
}

span{
    font-size: 1.5em;
    margin-top: 15px;
    text-align: center;
    display: block;
}


footer span{
    font-size: 0.5em;

}

h2{
    color: #00E7FF;
    font-family: "Orbitron", serif;
    font-size: 1.5em;
    text-align: center;
}

.colorBlack{
    background-color: black;
    padding: 10px;

}

i{
    padding: 0 5px;
}

p,
a,
span {
    font-family: "Electrolize", sans-serif;
    color: #ffffff;
}
.alignLink{
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-inline-start: 0px;
    padding: 0 10px;
}

.listHeader{
    display: flex;
    justify-content: space-between;

}

li {
    list-style: none;
    color:white;
}

li a {
    font-size: 1.7em;
}

/* pour adoucir plus jolie l'effet de scale */
.scale {
    transition: all ease-in-out 0.5s;
}

.scale:hover {
    transition: all ease-in-out 0.5s;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    font-size: 2em;
    display: block;
}

a:hover {
    transition: all ease-in-out 0.5s;
    color: white;
    text-decoration: none;
}

p{
    padding: 30px;
}

.pLore{
    padding: 10px;
}

.pLore:hover{
    transition: none;
    background-color: rgba(0,0,0, 0);
}

p:hover {
    transition: all ease-in-out 0.6s;
    background-color: #00e5ff15;
}

#effetNo:hover{
    transition: all ease-in-out 0.6s;
    background-color: #00e5ff15;
}

h1 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    display: block;
    color: #00E7FF;
    font-family: "Orbitron", serif;
}

.descriptif {
    padding: 5%;
}

.coinTop {
    position: relative;
}
/* scale pour mettre la barre exterieur vers le haut (les coins)*/
.coinBottom {
    position: relative;
    transform: scale(-1);
}
/* ************************faire l'effet, donner la dimension et la couleur au coin ************************* */
.coinBottom::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 1px solid #0A89BB;
    border-left: 1px solid #0A89BB;
    transition: all ease-in-out 0.5s;
}

.coinTop::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 1px solid #0A89BB;
    border-left: 1px solid #0A89BB;
    transition: all ease-in-out 0.5s;
}

.coinBottom::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1px;
    border-right: 1px solid #0A89BB;
    border-top: 1px solid #0A89BB;
    transition: all ease-in-out 0.5s;
}

.coinTop::before {
    content: "";
    position: absolute;
    right: 1px;
    width: 20px;
    height: 20px;
    border-top: 1px solid #0A89BB;
    border-right: 1px solid #0A89BB;
    transition: all ease-in-out 0.5s;
}
/* ************************************************************************************************************ */
/* padding pour decoller les coins du paragraphe */
.effet {
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
}
/* ****************************pseudo classe pour fabriquer l'effet sur les coins *********************************** */
.effet:hover .coinTop::before {
    transform: translate(-20px, 30px);
    transition: all ease-in-out 0.5s;
}
.effet:hover .coinTop::after {
    transform: translate(20px, 30px);
    transition: all ease-in-out 0.5s;
}
.effet:hover .coinBottom::before {
    transform: translate(-20px, 30px);
    transition: all ease-in-out 0.5s;
}
.effet:hover .coinBottom::after {
    transform: translate(20px, 30px);
    transition: all ease-in-out 0.5s;
}
/* ********************************************************************************************************** */

.dekstop {
    margin-bottom: 0;
}

.listPhone{
    display: none;
}

body {
    background-image: url("../img/thumb-1920-935315.png");
    background-repeat: repeat;
    color: rgba(0, 0, 0, 0.9);
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lore{
    height: 5vh;
}

.headerPrincipal {
    height: 70vh;
}

.nameUser{
    margin-top: 20px;
    margin-bottom: 2px;
    padding-bottom: 1px;
}


.headerUser{
    padding: 0 20px;

}

.userHeader{
    width: 50%;
}

header>div{
    display: flex;
    justify-content: space-between;
}

header>img{
    width:30%;
}

header a {
    font-size: 1em;
}
.linkDiscord{
    width: 100%;
}
.start{
    text-align: left;
}

.selectRole{
    margin-left: 20%;
}

a img{
    width: 20%;
}

.photoPrincipal{
    padding-bottom: 10%;
}

.taillePhotoPrincipal{
    width: 20%;
}

.taillePhotoPrincipalMaraudeurs{
    width: 50%;
    margin: 5%;

}

#bandeauMenu {
    display: flex ;
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: -5px;
    left: 0;
    background-color: rgba(13, 46, 66, 0.5);
    margin: auto;
    border-top: solid 1px #3994d1;
    border-bottom: solid 1px #3994d1;
}

#boiteTransparente {
    width: 100%;
    position: relative;
    background-color: rgba(13, 46, 66, 0.5);
    border-top: solid 1px #3994d1;
    border-bottom: solid 1px #3994d1;
    height: 10vh;
}

.wrapperHeader {
    position: sticky;
    top: 0;
}


footer{
    background-color: black;
    padding: 40px 20px;
    bottom: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer a {
    width: 40%;
}


.taillePhotoDiscord{
    width: 20%;
    text-align: center;
}

.taillePhotoDiscordFooter{
    width: 20%;
    margin-left: 38%;
}

/*****************************************gestion des formulaires*****************************************************/
.titleLabel{
    text-align: center;
    color:white;
    width: 100%;
    font-size: 2em;
    padding-top: 20px;
}

.titleShow{
    border-radius: 20px;
    background-color:  rgba(13, 46, 66, 0.5);
    width: 45%;
    margin: 0 auto;
    border: 1px solid #3994d1;
    padding: 5px;
    text-align: center;
}

.titleEffect{
    margin-top: 5px;
    margin-left: 30%;
    border-radius: 20px;
    background-color:  rgba(13, 46, 66, 0.5);
    width: 45%;
    border: 1px solid #3994d1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.titleEffect:hover {
    box-shadow: 0 0 10px rgba(13, 46, 66, 0.8) inset, 0 0 10px 4px #3498db;
    background-color: transparent;
}

.date{
    font-size: 1em;
}

.inputLabel{
    text-align: center;
    /*width: 50%;*/
}
.input{
    text-align: center;
}

input{
    color:white;
    background-color: black;
}

.submit{
    padding-top: 20px;
    text-align: center;
    width: 100%;

}

.submitLogin{
    margin-left: 45%;
    margin-top: 20px;
}

.unlog{
    text-align: center;
    margin-bottom: 20px;

}

input,
select,
textarea  {
    width: 60%;
    margin: 0 auto;
    font-family: "Electrolize", sans-serif;

}

.marginZero{
    margin: 0;
}
label{
    font-family: "Electrolize", sans-serif;
}

button{
    margin: 0 auto;
}


/*****************************************gestion des fichiers dynamiques ********************************************/
.titleCrud{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.titleCrud:hover{
    transition: all ease-in-out 0.5s;
    transform: scale(1.1);
}

.message{
    background-color: rgba(13, 46, 66, 0.5);
}

.message>p{
    color:white;
    text-align: center;
}

.border{
    background-color: white;
    transform: rotateZ(45deg);
    margin: 5px;
}


.menuCrud h2{
    text-align: center;
}

.containerElement{
    display: flex;
    flex-wrap: wrap;
}

.menuCrud{
    width:50%;
    padding: 10px;

}

.linkCrud{
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 0 auto;
}

.linkCrudArticle{
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 0 auto;
    padding-top: 10px;
}

.linkCrudArticle a{
    font-size: 1em;
}

#menu-button{
    display: none;
}

#menu{
    display: none;
}

.menuCrud a{
    font-size: 1em;
}

h3{
    color: white;
    font-size: 10em;
}

/************************************BOUTON****************************************/
.effectButton{
    margin-top: 10px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px rgba(13, 46, 66, 0.8) inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 1.4em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Electrolize", sans-serif;;
    font-weight: 700;
}

.effectButton:hover {
    box-shadow: 0 0 10px rgba(13, 46, 66, 0.8) inset, 0 0 10px 4px #3498db;
}

.effectButtonSend{
    margin-top: 10px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px rgba(13, 46, 66, 0.8) inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Electrolize", sans-serif;
    font-weight: 700;
}

.effectButtonSend:hover {
    box-shadow: 0 0 10px rgba(13, 46, 66, 0.8) inset, 0 0 10px 4px #3498db;
}

.otherFiles{
    width: 60%;
    font-family: "Electrolize", sans-serif;
    margin-top: 5px;
}

.content{
    text-align: center;
}

/*select{*/
/*    margin-left: 20%;*/
/*}*/

.inputRole{
    margin-left: 20%;
}

.linkDeleteUser{
    width: 40%;
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
}

@media screen and (min-width:300px) and (max-width:850px){
    /* FAIRE DROP DOWN POUR TELEPHONE */

    /* pour faire disparaitre la photo de gauche */
    .none{
        display: none;
    }

    .headerPrincipal{
        height:40vh;
    }

    /* pour mettre tout le contenu en colonne */
    .flex{
        flex-direction: column;
    }
    /* pour enlever les marges */
    p{
        padding: 10px;
    }

    main{
        justify-content: center;
    }
    /* pour faire disparaitre le menu dans la barre bleu */
    .dekstop{
        display: none;
    }
    /* pour faire disparaitre l'effet des coin et les coins */
    .coinBottom, .coinTop{
        display: none;
    }

    .flexForPhone{
        display: flex;
    }

    .phone{
        display: block;
    }

    .taillePhoto{
        width: 20%;
    }

    /* pour eviter que le titre soit sur plusieur ligne */
    .mediaTitre{
        width: 90%;
    }

    #photoPrincipal{
        display: flex;
    }

    /* les deux class sont la pour passer la priorité css (2 classes plus precis qu'une seul) sinon la class flex prend la priorite et elle en reste en coloumn*/
    .flex.flexPhone{
        flex-direction: row;
    }
    /* pour faire disparaitre le texte en version phone */
    .effet{
        height:0;
        opacity:0;
        transition: all ease .8s;
    }
    #effetNo{
        height: auto;
        opacity: 1;

    }
    /* pb de selection de mes div avec la classe effet qui me decale le pointeur et qui m empeche de selectionner la bonne section, du coup je l'enleve de toute mes div */
    .effet *{
        display: none;
    }
    /* pour pouvoir afficher le contenu de la div 'effet je la fait reaparaitre sinon les p ne serait pas affiche */
    .effet.active *{
        display: block;
    }

    .effet.active{
        height: auto;
        opacity: 1;
    }

    .relative{
        position: relative;
    }
    /* pseudo classe pour faire apparaitre la photo du doigt */
    .relative::after{
        content:"";
        position: absolute;
        bottom:-33px;
        left:50%;
        transform: translateX(-50%);
        width:35px;
        height:35px;
        background-image: url("../img/tap.svg");
        background-size: cover;
    }

    .containerElement{
        display: block;
    }

    .menuCrud{
        width: 100%;
        margin: 0 auto;
    }

    li a{
        font-size: 1em;
    }
/******************************************************************************************/

    .page{
        font-family:sans-serif;
        max-width:850px;
        margin:0 auto;
        background:#000;
        color:#fff;
        line-height:1.5;
        position:relative;
    }
    .header-title{
        line-height:50px;
        font-size:22px;
    }

    .burger{
        margin-top: 61px;
    }

    .burger,.liBurger{
        display:block;
    }

    .liBurger{
        height:50px;
        line-height:50px;
        padding:0 12px;
        border-bottom:1px solid #777;
        background-color: rgb(13, 46, 66);
        margin-left: 15px;

    }

    #menu-button{
        position:absolute;
        top:0;
        right:0;
        width:50px;
        height:50px;
        overflow:hidden;
        background:#fff;
        color:#000;
        line-height:50px;
        text-align:center;
        font-size:40px;
        transition:all .5s;
        margin-top: 7px;
    }

    #menu-button::after{
        content:'×';
    }
    #menu-button.close{
        color:#fff;
        background:#00e5ff15;
    }

    #menu-button.close::after{
        content:'≡';
    }

    #menu{
        transition:transform .5s;
        position:absolute;
        width:100%;
        max-width:480px;
        transform:translateX(-1000px);

    }
    #menu.show-menu{
        transform:translateX(-25px);
    }

    .main{
        padding:62px 12px 12px 12px;
        background-color: rgb(13, 46, 66);
    }

    #menu{
        display: block;
    }
    #menu-button{
        display: block;
    }

    .titleEffect{
        margin-top: 5px;
        margin-left: 5%;
        border-radius: 20px;
        background-color:  rgba(13, 46, 66, 0.5);
        width: 90%;
        border: 1px solid #3994d1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

}