{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="titleAdmin">Modification ou Supression de Categorie</h1>
    <h2>nom de la categorie</h2>
    {{ form_start(categories) }}
    <div class="input">
        {{ form_widget(categories.name) }}
    </div>
    <div class="submit">
    {{ form_widget(categories.submit) }}">
    </div>
    {{ form_end(categories) }}

{% endblock %}