{% extends 'base.html.twig' %}
{% block header %}
    {% include 'header/header.general.html.twig' %}
{% endblock %}
{% block content %}
    <section class="descriptif">
        <div class="flex">
            <div class='taillePhotoPrincipalMaraudeurs'>
                <img class='resp' src="{{ asset ('img/logoMaraudeursPrinciapal.png')  }}" alt="logo maradeurs">
            </div>
        </div>
        <div id="effetNo">
            <div class=coinTop></div>
            <p class="pLore">
                Alors que l’imperator et ses descendants dirigeaient l’UEE d’une main de fer, de nombreuses manifestations s’opposant au gouvernement en place voyaient le jour aux quatre coins de l’univers.
            </p>
            <p class="pLore">
                Parmi tous ces mouvements, l’un d’entre eux se démarquait des autres en organisant des actions spectaculaires défrayant les chroniques. La graine de la rébellion fut semée à l’aide de statues décapitées, de bâtiments officiels infiltrés, d’espionnage ou encore de révélations dévastatrices pour certaines personnalités publiques. Toutes ces actions furent revendiquées par la « Confédération Interplanétaire du Phoenix » avec, à sa tête, Adam Abdnego.<br>
                Les diverses actions d’Adam importunèrent le gouvernement mais fort heureusement pour ce dernier, la seconde guerre Tevarin s’annonçait aux premières lueurs de l’année 2603. Ce fut une excellente occasion de faire taire sans trop de soupçons de nombreux éléments gênants de la confédération en les envoyant au front ou encore en les assassinant dans des circonstances douteuses.
            </p>
            <p class="pLore">
                Cela ne fut cependant pas suffisant pour museler l’ensemble de ses membres, mais la confédération s’en sortit malgré tout très affaiblie en nombre, et par conséquent, en influence.
                C’est environ 50 ans plus tard, lorsqu’un sénateur, Assan Kieren, originaire de Terra, dénonça publiquement l’agenda pro militaire de l’UEE et ses dérives, que la fédération fit à nouveau parler d’elle en lui apportant tout son soutien. Cette dernière reprit de plus belle les manifestations qui ont bâti la légende du mouvement, galvanisée par du sang neuf et une passion ressuscitée.
            </p>
            <p class="pLore">
                Une guerre sans pitié était déclarée entre le conglomérat et l’impitoyable machine de propagande de Messer IX durant laquelle l’image de chaque parti était attaquée et ternie par son opposant, que ce soit à coup d’appellations marxistes et anarchistes pour l’un ou encore de dictateur et assassin pour l’autre. L’apogée des mouvements eu lieu suite à la disparition inexpliquée du sénateur Kieren en 2658, ce qui finit de rallier les sceptiques à la cause, sans pour autant faire pencher la balance en leur faveur.
            </p>
            <p class="pLore">
                La situation commença à se dégrader avec l’apparition des Vanduul en 2681, ce qui détourna totalement l’intérêt de la population des problèmes internes de l’UEE. La menace externe faisait peur et eu presque raison de la confédération. A cette époque 4 meneurs étaient à la tête de la structure, surnommés Griffon, Cerbère, Dragon et Phoenix, véritables légendes dans le milieu de l’opposition, rendus célèbres grâce à leur lutte contre le génocide de Garron perpétré par une organisation privée qui, lors d’un processus de terraformation, réduisit au silence une race alien toute entière.
            </p>
            <p class="pLore">
                Au cours du temps, deux d’entre eux, Dragon et Griffon, furent arrêtés dans le secret médiatique le plus total. Les deux restants s’évanouirent dans la nature après la chute de la famille impériale et avec eux l’avenir de la confédération. Certaines personnes par la suite tentèrent de ressusciter à des fins personnelles la structure sans grands succès. Les anciens membres s’éparpillèrent à travers l’univers dans d’autres organisations comme celles de Levski ou encore les survivants d’Armitage.
                Des descendant de ces premiers révolutionnaires, depuis, continuent de louer les idéaux de leurs ancêtres et ceux de la confédération. Menés par l’Amiral FALCON, ils forment désormais un groupe de mercenaires indépendants que l’on surnomme les MARAUDERS et continuent d’opérer partout où l’on a besoin d’eux.
            </p>
            <div class="coinBottom"></div>
        </div>
    </section>

{% endblock %}
