{% extends 'base.html.twig'%}
{% block content %}
    <h1>Vous n'êtes pas encore validé. Pour acceder à la totalité du site veuillez vous rapprocher du discord</h1>
    <a href="{{ path('home_page') }}">retour page d'accueil</a>
{% endblock %}