{% extends 'base.html.twig' %}
{% block header %}
    {% include 'header/header.general.html.twig' %}
{% endblock %}
{% block content %}
    <article>
        <h2>Nom de la Categorie</h2>
        {{ form_start(categories) }}
        <div class="input">
            {{ form_widget(categories.name) }}
        </div>
        <button type="submit" class="effectButtonSend">Envoyer
        </button>
        {{ form_end(categories) }}
    </article>
{% endblock %}