{% extends 'base.html.twig' %}
{% block header %}
    {% include 'header/header.general.html.twig' %}
{% endblock %}
{% block content %}
{#    <h1 class="titleAdmin">{{ title}} de Categorie</h1>#}
    <h2>nom de la categorie</h2>
    {{ form_start(categories) }}
    <div class="input">
        {{ form_widget(categories.name) }}
    </div>
    <button type="submit" class="effectButtonSend">Envoyer
    </button>
    {{ form_end(categories) }}

{% endblock %}